#boletin{
	padding: 15px;
	color: #fff;
	background: #C4C4C4;
}

#boletin h1{
	float:  left;
}

#boletin form{
	float:  right;
	margin-top: 15px;
}

#boletin input [type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}