/*cabecera con la imagen BANNER*/
#cabecera{
	min-height: 400px;
	background: url('../img/cabecera.jpg')no-repeat 0 -280px;
	text-align: center;
	color: #fff;
}


#cabecera h1{
	margin-top: 70px;
	font-size: 55px;
	margin-bottom: 10px;
}

#cabecera p{
	font-size: 25px;
