principal form {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

#principal input, #principal textarea {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;

}

textarea{
	height: 120px;
}

input[type="submit"]{
	background-color: #C4C4C4
	color: #fff;
}

