header{
	background-color: #CDCDCD;
	color: #fff;
	font-size: 15px;
	padding-top: 30px;
	min-height: 80px;
	border-bottom: 10px solid #969696;
}

}

header a {
	color: #ADADAD
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 25px 0 25px;
}

